// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-app-loading-text: "HNB Exchange Watcher";

$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #fff;
$v-focus-color: hsl(218, 80%, 60%);
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(163, 61%, 41%);
$v-error-indicator-color: hsl(349, 66%, 56%);
@import "mixins.scss";
@import "../valo/valo.scss";

@mixin hnbexchangewatcher {
  @include valo;
  .tests-valo-light .valo-menu .valo-menu-title {
  background: $v-app-background-color;
  color: $v-selection-color;
  text-shadow: none;
  border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
  // Insert your own theme rules here
}
.v-button-login {
      @include valo-button-style($background-color: #0d59d4);
    }
    .v-button-settings {
      @include valo-button-style($background-color: #ffae00);
    }
    .v-button-unsubscribe {
      @include valo-button-style($background-color: #ad0026);
    }
    .v-window-winlogin .v-window-header {
     color: #0d59d4;
     font-weight: bold;
      }
      .v-window-windialog .v-window-header {
     color: #ffae00;
     font-weight: bold;
      }
      .v-window-winwarning .v-window-header {
     color: #ad0026;
     font-weight: bold;
      }
  .v-textfield-lblwelcome {
    font-size: 22px;
    line-height: normal;
    font-weight: bold;
    color: black;
    border: none;
    -webkit-border-image: none; 
}
}